@import "tailwindcss/base";

* {
  margin: 0;
  padding: 0;
}

html, body {
  @apply tw-text-16;
  font-family: 'Ubuntu', sans-serif;
  @apply tw-text-font-primary;
}

h1 {
  @apply tw-text-36;
}

h2 {
  @apply tw-text-28;
}

h3 {
  @apply tw-text-20;
}

h4 {
  @apply tw-text-16;
}

h5 {
  @apply tw-text-14;
}

.max-width-header {
  max-width: 1400px;
  margin: 0 auto;

  @media only screen and (max-width: 1470px) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media only screen and (max-width: 760px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.max-width-default {
  max-width: 1200px;
  margin: 0 auto;

  @media only screen and (max-width: 1270px) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media only screen and (max-width: 760px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";
